header{
	overflow: hidden;
}body{
	font-family: 'Century Gothic';
	font-size: 20pt;
	background-color:#6edbcd;
}

h1 {	
	font-family: Century Gothic;
	color: white;
}

p, ol, ul {
	margin-top: 0;
}



ol, ul{
	list-style: none;
}

ul {
	color: #0c3ca6;
	font-weight: bold;
}

pre {
	color: #0c3ca6;
	font-size: 20px;
}
